* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #363636;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #363636;
    color: #fff;
    padding: 10px;
    border: none
